@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.inter-tight-thin {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-tight-extra-light {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-tight-light {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-tight-regular {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-tight-medium {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-tight-semi-bold {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-tight-bold {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-tight-extra-bold {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-tight-black {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


body {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-glassy {
    background: rgba(255, 255, 255, 0.2);
    /* semi-transparent white */
    backdrop-filter: blur(10px);
    /* frosted glass effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
}